<!-- src/app/pages/cadastro-motorista/cadastro-motorista.component.html -->
<div class="motorista-container">
  <header class="header">
    <img src="assets/logo.png" alt="eggGestor Logo" class="logo" />
    <h1>{{ motorista ? 'Editar Motorista' : 'Novo Motorista' }}</h1>
    <button class="menu-button" [routerLink]="['/motoristas']">Voltar</button>
  </header>

  <main class="main-content">
    <form (ngSubmit)="onSubmit()">
      <label>CPF:</label>
      <input [disabled]="!!motorista" [(ngModel)]="cpf" name="cpf" required />

      <label>Nome:</label>
      <input [(ngModel)]="nome" name="nome" required />

      <label>Data de Nascimento:</label>
      <input type="date" [(ngModel)]="dataNascimento" name="dataNascimento" required />

      <!-- bloco de erro removido, agora usamos Toastr para feedback -->

      <button type="submit">Salvar</button>
      <button type="button" (click)="cancelar()">Cancelar</button>
    </form>
  </main>

  <app-footer />
</div>
