<div class="home-container">
    <header class="header">
      <img src="assets/logo_w.png" alt="greenLog Logo" class="logo" />
      <h1>Bem-vindo a GreenLog Solution</h1>
    </header>
    <main class="main-content">
      <div class="button-group">
        <button class="action-button" routerLink="/rotas">Rotas</button>
        <button class="action-button" routerLink="/bairros">Bairros</button>
        <button class="action-button" routerLink="/relatorios">Relatórios</button>
        <button class="action-button" routerLink="/motoristas">Motoristas</button>
        <button class="action-button" routerLink="/caminhoes">Caminhões</button>
      </div>
      <div class="dashboard-placeholder">
        <app-grafo></app-grafo>
      </div>
    </main>
    <app-footer></app-footer>
  </div>