.toast {
  min-width: 600px !important;
  max-width: 900px !important;
  padding: 30px !important;
  font-size: 1.3rem !important;
}
.toast-success .toast-title {
  font-size: 1.6rem !important;
}
.toast .toast-message {
  font-size: 1.4rem !important;
}
